PORT=5003
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-m3>.mongodb.net/ridelink_ride_db?retryWrites=true&w=majority
RABBITMQ_URL=amqp://guest:guest@localhost:5672
DRIVER_SERVICE_URL=http://localhost:5002
PAYMENT_SERVICE_URL=http://localhost:5004
