# ==============================================================================
# RideLink Account Service Configuration
# ==============================================================================
SERVER_PORT=8081

# MongoDB Connection String (No credentials committed)
SPRING_DATA_MONGODB_URI=mongodb://localhost:27017/account_db

# JWT Security
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000
